<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

1.Write a program to accept two numbers from the user and calculate multiplication

In [2]:
#a and b are two integers
a=int(input("Enter a no.: "))
b=int(input("Enter a no.: "))
product=a*b
print(product)

Enter a no.: 4
Enter a no.: 3
12

2.Convert Decimal number to octal using print() output formatting

In [3]:
num = int(input("Enter a no.: "))
print('%o' % num)

Enter a no.: 6
6

LOOPS

In [6]:
name ="Abhigyan"
for i in name:
    print(i)

A
b
h
i
g
y
a
n

In [35]:
colors = ["red","Yellow","Pink"]
for color in colors():
  print(color)

TypeError: ignored

In [15]:
for k in range(5):
  print(k)

0
1
2
3
4

6.Write a program to print the following number pattern using a loop.
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [21]:
a = 1
while (a<=10):
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

7. Calculate the sum of all numbers from 1 to a given number

In [25]:
s = 0
n = int(input("Enter number "))
for i in range(1, n + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Enter number 5


Sum is:  15

8. Write a program to print multiplication table of a given number

In [30]:
a=2
for i in range(1,11,1):
  product=2*i
  print(product)

2
4
6
8
10
12
14
16
18
20

9. Display numbers from a list using loop

Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [36]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i> 500:
        break
    elif i> 150:
        continue
    elif i % 5 == 0:
        print(i)

75
150
145

10.Count the total number of digits in a number
Write a program to count the total number of digits in a number using a while loop.

In [37]:
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

11.Display numbers from -10 to -1 using for loop

In [38]:
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1