<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

 iterate over rows in Pandas Dataframe

In [3]:
data=[{'name':'Sujeet', 'age':10},
            {'name':'Sameer', 'age':11},
            {'name':'Sumit', 'age':12}]

In [6]:
df=pd.DataFrame(data)

In [8]:
print('Original DataFrame: ' ,df)

Original DataFrame:       name  age
0  Sujeet   10
1  Sameer   11
2   Sumit   12

In [10]:
print('\nRows iterate using iterrows(): ')
for index,row in df.iterrows():
  print(row['name'],row['age'])

Rows iterate using iterrows():
Sujeet 10
Sameer 11
Sumit 12

Selecting rows in pandas DataFrame based on conditions

Q) Selecting all the rows from the given dataframe in which ‘Percentage’ is greater than 80 using basic method.

In [11]:
data={'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
 'Age': [21, 19, 20, 18, 17, 21],
 'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
 'Percentage': [88, 92, 95, 70, 65, 78] }

In [12]:
df=pd.DataFrame(data)

In [13]:
print("Given dataFrame:\n ",df)

Given dataFrame:
          Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

In [16]:
rslt_df = df[df['Percentage']>80]
print(rslt_df)

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95

Select any row from a Dataframe using iloc[] and iat[] in Pandas

In [17]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})

In [18]:
#creating row
Row_list=[]

for i in range((df.shape[0])): #iterate each row
  Row_list.append(list(df.iloc[i, :]))
print(Row_list[:3])

[['10/2/2011', 'Music', 10000], ['11/2/2011', 'Poetry', 5000], ['12/2/2011', 'Theatre', 15000]]

Using iat[] method

In [19]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})

In [21]:
Row_list=[]

for i in range((df.shape[0])):
  cur_row=[] # Create a list to store the data   # of the current row
  for j in range(df.shape[1]):
    cur_row.append(df.iat[i, j])
  Row_list.append(cur_row)
print(cur_row)
print(Row_list[:3])

['13/2/11', 'Comedy', 2000]
[['10/2/2011', 'Music', 10000], ['11/2/2011', 'Poetry', 5000], ['12/2/2011', 'Theatre', 15000]]

Limited rows selection with given column in Pandas

Select two columns

In [22]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

In [23]:
df=pd.DataFrame(data)

In [26]:
print(df.loc[1:3,['Name', 'Qualification']])

     Name Qualification
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

 First filtering rows and selecting columns by label format and then Select all columns.

In [27]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'] 
       }

In [28]:
df=pd.DataFrame(data)
# .loc DataFrame method 
# filtering rows and selecting columns by label format 
# df.loc[rows, columns] 
# row 1, all columns 
print(df.loc[0, :] )

Name               Jai
Age                 27
Address          Delhi
Qualification      Msc
Name: 0, dtype: object

 Select all or some columns, one to another using .iloc.

In [29]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

In [31]:
df = pd.DataFrame(data)
print(df.iloc[1:3,:2])

     Name  Age
1  Princi   24
2  Gaurav   22

Create a list from rows in Pandas dataframe

In [35]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})

In [36]:
print(df)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3    13/2/11   Comedy   2000

Now we will use the DataFrame.iterrows() function to iterate over each of the row of the given Dataframe and construct a list out of the data of each row.

In [37]:
Row_list =[]
for index, rows in df.iterrows():
    my_list =[rows.Date, rows.Event, rows.Cost]
    Row_list.append(my_list)

print(Row_list)

[['10/2/2011', 'Music', 10000], ['11/2/2011', 'Poetry', 5000], ['12/2/2011', 'Theatre', 15000], ['13/2/11', 'Comedy', 2000]]

 iterate over the rows of the Pandas dataframe we can use DataFrame.itertuples() function

In [40]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy']})

print(df)

        Date    Event
0  10/2/2011    Music
1  11/2/2011   Poetry
2  12/2/2011  Theatre
3    13/2/11   Comedy

In [43]:
Row_list =[]
for rows in df.itertuples():
    my_list =[rows.Date, rows.Event]
    Row_list.append(my_list)

print(Row_list)

[['10/2/2011', 'Music'], ['11/2/2011', 'Poetry'], ['12/2/2011', 'Theatre'], ['13/2/11', 'Comedy']]