<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

Collapse multiple Columns in Pandas

In [3]:
n = 3
Sample_1 = [57, 51, 6]
Sample_2 = [92, 16, 19]
Sample_3 = [15, 93, 71]
Sample_4 = [28, 73, 31]

In [4]:
sample_id = zip(["S"]*n, list(range(1, n + 1)))

In [5]:
s_names = [''.join([w[0], str(w[1])]) for w in sample_id]

In [6]:
d = {'s_names': s_names, 'Sample_1': Sample_1, 
     'Sample_2': Sample_2, 'Sample_3': Sample_3,
     'Sample_4': Sample_4}

In [7]:
df_1 = pd.DataFrame(d)
df_1

  s_names  Sample_1  Sample_2  Sample_3  Sample_4
0      S1        57        92        15        28
1      S2        51        16        93        73
2      S3         6        19        71        31

In [8]:
  mapping = {'Sample_1': 'Result_1',
           'Sample_2': 'Result_1', 
           'Sample_3': 'Result_2', 
           'Sample_4': 'Result_2'}

In [9]:
df = df_1.set_index('s_names').groupby(mapping, axis = 1).sum()

In [10]:
df.reset_index(level = 0)

  s_names  Result_1  Result_2
0      S1       149        43
1      S2        67       166
2      S3        25       102

Q2

In [11]:
df = pd.DataFrame({'First': ['Manan ', 'Raghav ', 'Sunny '],
                   'Last': ['Goel', 'Sharma', 'Chawla'],
                   'Age':[12, 24, 56]})

In [12]:
mapping = {'First': 'Full Name', 'Last': 'Full Name'}

In [13]:
df = df.set_index('Age').groupby(mapping, axis = 1).sum()
df.reset_index(level = 0)

   Age      Full Name
0   12     Manan Goel
1   24  Raghav Sharma
2   56   Sunny Chawla

Concatenating DataFrame using .concat() :

In [33]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],  #dictionar 1
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
   
data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'], 
        'Age':[17, 14, 12, 52], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

In [34]:
df = pd.DataFrame(data1,index=[0,1,2,3])

In [35]:
df1= pd.DataFrame(data2,index=[4,5,6,7])

In [36]:
print(df,"\n\n",df1)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

      Name  Age    Address Qualification
4    Abhi   17     Nagpur         Btech
5  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

using Concat

In [37]:
frames=[df,df1]
res1=pd.concat(frames)

In [38]:
res1

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd
4    Abhi   17     Nagpur         Btech
5  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

 axes join = outer for union of dataframe.

In [39]:
res2=pd.concat([df,df1],axis=1,sort='False')

<ipython-input-39-99d115c40f37>:1: FutureWarning: Passing non boolean values for sort is deprecated and will error in a future version!
  res2=pd.concat([df,df1],axis=1,sort='False')

In [40]:
res2

,Name,Age,Address,Qualification,Name,Age,Address,Qualification
0,Jai,27.0,Nagpur,Msc,NaN,NaN,NaN,NaN
1,Princi,24.0,Kanpur,MA,NaN,NaN,NaN,NaN
2,Gaurav,22.0,Allahabad,MCA,NaN,NaN,NaN,NaN
3,Anuj,32.0,Kannuaj,Phd,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Abhi,17.0,Nagpur,Btech
5,NaN,NaN,NaN,NaN,Ayushi,14.0,Kanpur,B.A
6,NaN,NaN,NaN,NaN,Dhiraj,12.0,Allahabad,Bcom
7,NaN,NaN,NaN,NaN,Hitesh,52.0,Kannuaj,B.hons

 join_axes argument

In [43]:
res3 = pd.concat([df, df1], axis=1, join_axes=[df.index])

TypeError: ignored

append

In [44]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 

data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'], 
        'Age':[17, 14, 12, 52], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

In [45]:
df=pd.DataFrame(data1)
df1=pd.DataFrame(data2)

In [46]:
print(df,"\n\n",df1)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

      Name  Age    Address Qualification
0    Abhi   17     Nagpur         Btech
1  Ayushi   14     Kanpur           B.A
2  Dhiraj   12  Allahabad          Bcom
3  Hitesh   52    Kannuaj        B.hons

In [47]:
res=df.append(df1)

<ipython-input-47-af9106493fa8>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  res=df.append(df1)

In [48]:
res

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd
0    Abhi   17     Nagpur         Btech
1  Ayushi   14     Kanpur           B.A
2  Dhiraj   12  Allahabad          Bcom
3  Hitesh   52    Kannuaj        B.hons

Concatenating DataFrame by ignoring indexes :

In [49]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]} 

data2 = {'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]}

In [50]:
df=pd.DataFrame(data1)
df1=pd.DataFrame(data2)

print(df,"\n\n",df1)

     Name  Age    Address Qualification  Mobile No
0     Jai   27     Nagpur           Msc         97
1  Princi   24     Kanpur            MA         91
2  Gaurav   22  Allahabad           MCA         58
3    Anuj   32    Kannuaj           Phd         76

      Name  Age    Address Qualification  Salary
0  Gaurav   22  Allahabad           MCA    1000
1    Anuj   32    Kannuaj           Phd    2000
2  Dhiraj   12  Allahabad          Bcom    3000
3  Hitesh   52    Kannuaj        B.hons    4000

In [51]:
res=pd.concat([df,df1],ignore_index=True)

In [52]:
res

     Name  Age    Address Qualification  Mobile No  Salary
0     Jai   27     Nagpur           Msc       97.0     NaN
1  Princi   24     Kanpur            MA       91.0     NaN
2  Gaurav   22  Allahabad           MCA       58.0     NaN
3    Anuj   32    Kannuaj           Phd       76.0     NaN
4  Gaurav   22  Allahabad           MCA        NaN  1000.0
5    Anuj   32    Kannuaj           Phd        NaN  2000.0
6  Dhiraj   12  Allahabad          Bcom        NaN  3000.0
7  Hitesh   52    Kannuaj        B.hons        NaN  4000.0

Concatenating DataFrame with group keys :

In [53]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
 
data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'], 
        'Age':[17, 14, 12, 52], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

In [54]:
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df1 = pd.DataFrame(data2, index=[4, 5, 6, 7])

In [55]:
print(df,"\n\n",df1)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

      Name  Age    Address Qualification
4    Abhi   17     Nagpur         Btech
5  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

In [56]:
df = pd.DataFrame(data1,index=[0, 1, 2, 3]) 
df1 = pd.DataFrame(data2, index=[4, 5, 6, 7])

In [57]:
frames = [df, df1 ]
res = pd.concat(frames, keys=['x', 'y'])
res

       Name  Age    Address Qualification
x 0     Jai   27     Nagpur           Msc
  1  Princi   24     Kanpur            MA
  2  Gaurav   22  Allahabad           MCA
  3    Anuj   32    Kannuaj           Phd
y 4    Abhi   17     Nagpur         Btech
  5  Ayushi   14     Kanpur           B.A
  6  Dhiraj   12  Allahabad          Bcom
  7  Hitesh   52    Kannuaj        B.hons

Concatenating with mixed ndims :

In [58]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

In [59]:
df = pd.DataFrame(data1,index=[0, 1, 2, 3])

In [60]:
s1 = pd.Series([1000, 2000, 3000, 4000], name='Salary')

In [61]:
print(df, "\n\n", s1)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

 0    1000
1    2000
2    3000
3    4000
Name: Salary, dtype: int64

In [62]:
res = pd.concat([df, s1], axis=1)
res

     Name  Age    Address Qualification  Salary
0     Jai   27     Nagpur           Msc    1000
1  Princi   24     Kanpur            MA    2000
2  Gaurav   22  Allahabad           MCA    3000
3    Anuj   32    Kannuaj           Phd    4000