<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Creating DataFrame from dict of narray/lists

In [3]:
data = {'Category':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}

In [4]:
df = pd.DataFrame(data)

In [5]:
print(df.transpose())

               0      1      2
Category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

 Providing index list to dataframe

In [6]:
data = {'Area':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}

In [7]:
df = pd.DataFrame(data, index =['Cat_1', 'Cat_2', 'Cat_3'])
df

        Area  Student_1  Student_2
Cat_1  Array         20         15
Cat_2  Stack         21         20
Cat_3  Queue         19         14

Python program to swap two elements in a list

In [8]:
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

In [9]:
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3

In [10]:
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

Using Inbuilt list.pop() function

In [11]:
def swapPositions(list, pos1, pos2):
    first_ele = list.pop(pos1)  
    second_ele = list.pop(pos2-1)
    list.insert(pos1, second_ele) 
    list.insert(pos2, first_ele) 
     
    return list

In [12]:
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3

In [13]:
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

Using tuple variable

In [14]:
def swapPositions(list, pos1, pos2):
    get = list[pos1], list[pos2]
    list[pos2], list[pos1] = get
      
    return list

In [15]:
List = [23, 65, 19, 90]

In [16]:
pos1, pos2  = 1, 3
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

Using temp variable

In [23]:
def swapPositions(lis, pos1, pos2):
    temp=lis[pos1]
    lis[pos1]=lis[pos2]
    lis[pos2]=temp
    return lis

In [24]:
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

In [25]:
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

Using enumerate

In [26]:
def swapPositions(lis, pos1, pos2):
    for i, x in enumerate(lis):
        if i == pos1:
            elem1 = x
        if i == pos2:
            elem2 = x
    lis[pos1] = elem2
    lis[pos2] = elem1
    return lis

In [27]:
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

In [28]:
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

Python program to Swap Keys and Values in Dictionary

In [30]:
old_dict = {'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}
new_dict = dict([(value, key) for key, value in old_dict.items()])

In [31]:
print ("Original dictionary is : ")
print(old_dict)
 
print()

Original dictionary is :
{'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

In [32]:
print ("Dictionary after swapping is :  ")
print("keys: values")

Dictionary after swapping is :
keys: values

In [33]:
for i in new_dict:
    print(i, " :  ", new_dict[i])

67  :   G
23  :   H
45  :   C
56  :   D
12  :   E
69  :   F

Q2)Handles multiple same values

In [34]:
old_dict = {'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

In [38]:
print ("Original dictionary is : ")
print(old_dict)
 
print()

Original dictionary is :
{'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

In [39]:
new_dict = {}
for key, value in old_dict.items():
   if value in new_dict:
       new_dict[value].append(key)
   else:
       new_dict[value]=[key]

In [40]:
print ("Dictionary after swapping is :  ")
print("keys: values")

Dictionary after swapping is :
keys: values

In [42]:
for i in new_dict:
    print(i, " :", new_dict[i])

67  : ['A', 'G']
23  : ['B', 'H']
45  : ['C']
12  : ['E']
69  : ['F']

Using List Comprehension and Set

In [43]:
dict1 = {"a": 1, "b": 2, "c": 3, "d": 2}
dict2 = {}

In [44]:
dict2 = dict([(v, [k for k, v1 in dict1.items() if v1 == v])
              for v in set(dict1.values())])

In [45]:
print(dict2)

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

Using get() Method

In [46]:
dict1 = {"a": 1, "b": 2, "c": 3, "d": 2}
dict2 = {}

In [47]:
for k, v in dict1.items():
    dict2[v] = dict2.get(v, []) + [k]

In [48]:
print(dict2)

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

Using Dictionary SetDefault() Method

In [49]:
dict1 = {"a": 1, "b": 2, "c": 3, "d": 2}
dict2 = {}

In [50]:
for i in dict1:
    dict2.setdefault(dict1[i], []).append(i)

In [51]:
print(dict2)

{1: ['a'], 2: ['b', 'd'], 3: ['c']}