<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Return the Index label if some condition is satisfied over a column in Pandas Dataframe

In [2]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':['Umbrella', 'Mattress', 'Badminton', 'Shuttle'],
                   'Last_Price':[1200, 1500, 1600, 352],
                   'Updated_Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 10, 10, 10]})

In [4]:
df.index=['Item 1','Item 2','Item 3','Item 4']

In [5]:
print(df)

             Date    Product  Last_Price  Updated_Price  Discount
Item 1  10/2/2011   Umbrella        1200           1250        10
Item 2  11/2/2011   Mattress        1500           1450        10
Item 3  12/2/2011  Badminton        1600           1550        10
Item 4  13/2/2011    Shuttle         352            400        10

Merge DataFrames on Multiple Columns

In [6]:
df = pd.DataFrame({'Courses': ["Spark","PySpark","Python","pandas","Java"],
                    'Fee' : [20000,25000,30000,24000,40000],
                    'Duration':['30day','40days','60days','55days','50days']})

df1 = pd.DataFrame({'Courses': ["Java","PySpark","Python","pandas","Hyperion"],
                    'Fee': [20000,25000,30000,24000,40000],
                    'Percentage':['10%','20%','25%','20%','10%']})

In [7]:
merged_df=pd.merge(df,df1)

In [8]:
merged_df

   Courses    Fee Duration Percentage
0  PySpark  25000   40days        20%
1   Python  30000   60days        25%
2   pandas  24000   55days        20%

Use pandas.merge() to Multiple Columns

In [9]:
df2=pd.merge(df,df1,on=["Courses","Fee"])

In [10]:
df2

   Courses    Fee Duration Percentage
0  PySpark  25000   40days        20%
1   Python  30000   60days        25%
2   pandas  24000   55days        20%

 Use pandas.merge() when Column Names Different

In [11]:
df3=pd.merge(df,df1,how='left',left_on=['Courses','Fee'],right_on=['Courses','Fee'])

In [12]:
df3

   Courses    Fee Duration Percentage
0    Spark  20000    30day        NaN
1  PySpark  25000   40days        20%
2   Python  30000   60days        25%
3   pandas  24000   55days        20%
4     Java  40000   50days        NaN

Complete Merge DataFrames on Multiple Columns

In [13]:
df = pd.DataFrame({'Courses': ["Spark","PySpark","Python","pandas","Java"],
                    'Fee' : [20000,25000,30000,24000,40000],
                    'Duration':['30day','40days','60days','55days','50days']})

df1 = pd.DataFrame({'Courses': ["Java","PySpark","Python","pandas","Hyperion"],
                    'Fee': [20000,25000,30000,24000,40000],
                    'Percentage':['10%','20%','25%','20%','10%']})

In [14]:
print(df)
print(df1)

   Courses    Fee Duration
0    Spark  20000    30day
1  PySpark  25000   40days
2   Python  30000   60days
3   pandas  24000   55days
4     Java  40000   50days
    Courses    Fee Percentage
0      Java  20000        10%
1   PySpark  25000        20%
2    Python  30000        25%
3    pandas  24000        20%
4  Hyperion  40000        10%

In [16]:
#Merging
merged_df=pd.merge(df,df1)
#conclusion - pd.merge() use for the merging columns

Pandas Iterate Over Columns of DataFrame

In [17]:
technologies = [
            ("Spark", 22000,'30days',1000.0),
            ("PySpark",25000,'50days',2300.0),
            ("Hadoop",23000,'55days',1500.0)
            ]

In [18]:
for column in df:
  print(df[column]) #for get item itterate over column

0      Spark
1    PySpark
2     Python
3     pandas
4       Java
Name: Courses, dtype: object
0    20000
1    25000
2    30000
3    24000
4    40000
Name: Fee, dtype: int64
0     30day
1    40days
2    60days
3    55days
4    50days
Name: Duration, dtype: object

In [21]:
#Use getitem ([]) to iterate over columns in pandas DataFrame
for column in df:
  print(df[column].values)

['Spark' 'PySpark' 'Python' 'pandas' 'Java']
[20000 25000 30000 24000 40000]
['30day' '40days' '60days' '55days' '50days']

In [24]:
# Iterate over columns using DataFrame.iteritems()
for (colname,colval) in df.iteritems():
  print(colname,colval.values)

Courses ['Spark' 'PySpark' 'Python' 'pandas' 'Java']
Fee [20000 25000 30000 24000 40000]
Duration ['30day' '40days' '60days' '55days' '50days']

<ipython-input-24-7864a61e15ad>:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname,colval) in df.iteritems():

In [26]:
# use iteritems()
for name in df.iteritems():
  print(name)

('Courses', 0      Spark
1    PySpark
2     Python
3     pandas
4       Java
Name: Courses, dtype: object)
('Fee', 0    20000
1    25000
2    30000
3    24000
4    40000
Name: Fee, dtype: int64)
('Duration', 0     30day
1    40days
2    60days
3    55days
4    50days
Name: Duration, dtype: object)

<ipython-input-26-e24d0f803527>:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name in df.iteritems():

In [29]:
#iterate over columns in pandas DataFrame using enumerate() 
# enumerate() function allows to keep the track of the no. of iternations
for (index,colname) in enumerate(df):
  print(index,df[colname].values)

0 ['Spark' 'PySpark' 'Python' 'pandas' 'Java']
1 [20000 25000 30000 24000 40000]
2 ['30day' '40days' '60days' '55days' '50days']

In [33]:
# using enumerate()
for (index,column) in enumerate(df):
  print(index,df[column])

0 0      Spark
1    PySpark
2     Python
3     pandas
4       Java
Name: Courses, dtype: object
1 0    20000
1    25000
2    30000
3    24000
4    40000
Name: Fee, dtype: int64
2 0     30day
1    40days
2    60days
3    55days
4    50days
Name: Duration, dtype: object

In [35]:
# using enumerate() & Numpy.asarray()
for (index,column) in enumerate(df):
  print(index,np.asarray(df[column]))

0 ['Spark' 'PySpark' 'Python' 'pandas' 'Java']
1 [20000 25000 30000 24000 40000]
2 ['30day' '40days' '60days' '55days' '50days']

In [36]:
# Use DataFrame.columns()
for columns in df.columns[1]:
  print(df[column])

0     30day
1    40days
2    60days
3    55days
4    50days
Name: Duration, dtype: object
0     30day
1    40days
2    60days
3    55days
4    50days
Name: Duration, dtype: object
0     30day
1    40days
2    60days
3    55days
4    50days
Name: Duration, dtype: object

In [37]:
# Iterate over all the columns in reversed order
for columns in df.columns[:-1]:
  print(df[columns])

0      Spark
1    PySpark
2     Python
3     pandas
4       Java
Name: Courses, dtype: object
0    20000
1    25000
2    30000
3    24000
4    40000
Name: Fee, dtype: int64

In [40]:
# Get the indices of all columns
for indix,column in enumerate(df.columns):
  print(indix,column)

0 Courses
1 Fee
2 Duration

In [42]:
# Use DataFrame.transpose().iterrows()
for column,column_name in df.transpose().iterrows():
  print(column_name)

0      Spark
1    PySpark
2     Python
3     pandas
4       Java
Name: Courses, dtype: object
0    20000
1    25000
2    30000
3    24000
4    40000
Name: Fee, dtype: object
0     30day
1    40days
2    60days
3    55days
4    50days
Name: Duration, dtype: object

Pandas – Replace NaN Values with Zero in a Column

In [43]:
technologies = {
    'Courses':["Spark","PySpark","Hadoop"],
    'Fee' :[20000,25000, np.nan],
    'Duration':[np.nan,'40days','35days'],
    'Discount':[1000,np.nan,1500]
               }

In [45]:
df=pd.DataFrame(technologies)
df

   Courses      Fee Duration  Discount
0    Spark  20000.0      NaN    1000.0
1  PySpark  25000.0   40days       NaN
2   Hadoop      NaN   35days    1500.0

In [48]:
# Repalce NaN with zero on all columns 
df2=df.fillna(0)
df2

   Courses      Fee Duration  Discount
0    Spark  20000.0        0    1000.0
1  PySpark  25000.0   40days       0.0
2   Hadoop      0.0   35days    1500.0

In [49]:
#Repalce NaN with zero inplace
df.fillna(0,inplace=True)

In [50]:
df

   Courses      Fee Duration  Discount
0    Spark  20000.0        0    1000.0
1  PySpark  25000.0   40days       0.0
2   Hadoop      0.0   35days    1500.0

In [52]:
# Replace on single column
df['Fee']=df['Fee'].fillna(0)
df

   Courses      Fee Duration  Discount
0    Spark  20000.0        0    1000.0
1  PySpark  25000.0   40days       0.0
2   Hadoop      0.0   35days    1500.0