<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print Square Sequence using yield
    Create Generator method such that every time it will returns a next square number

for exmaple : 1 4 9 16 ..

In [3]:
def square():
  i = 1
  while True:
    yield i*i
    i+=1
for n in square():
  if n> 25:
    break
  print(n)

1
4
9
16
25

Create a Dictionary which contains the Binary values mapping with numbers found in the below integer and binary and save it in binary_dict.
Example :

    integer = [0, 1, 2, 3, 4]
    binary = ["0", "1", "10", "11", "100"]
    binary_dict = {0:"0", 1:"1", 2:"10", 3: "11", 4:"100"}

In [4]:
integer = [0, 1, 2, 3, 4]
binary = ["0", "1", "10", "11", "100"]
binary_dict = {0:"0", 1:"1", 2:"10", 3: "11", 4:"100"}

Create a List which contains additive inverse of a given integer list. An additive inverse a for an integer i is a number such that:
a + i = 0

In [5]:
integer = [1, -1, 2, 3, 5, 0, 6]
add_inverse = [-1*i for i in integer]
print(add_inverse)

[-1, 1, -2, -3, -5, 0, -6]

Create a set which only contains unique sqaures from a given a integer list.
integer = [1, -1, 2, -2, 3, -3]
sq_set = {1, 4, 9}

In [11]:
integer = [1, -1, 2, -2, 3, -3]
# sq_set = {1, 4, 9}
sq_set = {i*i for i in integer}
print(sq_set)

{1, 4, 9}

create any set anf try to use frozenset(setname)

In [13]:
setname={"name":"Abhigyan","age":22,"sex":"male"}
fset = frozenset(setname)
print("the frozenset is ", fset)

the frozenset is  frozenset({'age', 'name', 'sex'})

Find the elements in a given set that are not in another set

    set1 = {1,2,3,4,5}
    set2 = {4,5,6,7,8}

    diffrence between set1 and set2 is {1,2,3}

In [14]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
differnece = set1 - set2

In [15]:
print(differnece)

{1, 2, 3}

Take subject marks as command line arguments
example:
    python3 cmd.py --physics 60 --chemistry 70 --maths 90

In [16]:
#ye aargparse smjh nhi aaya

Create a decorator function to check that the argument passed to the function factorial is a non-negative integer:

In [17]:
def decorator(f):
  def helper(X):
    if type(x)== int and x>0:
      return(f(x))
    else:
      raise Exception("Argument is non negative integer")
  return helper

Create a factorial function which finds the factorial of a number.

In [18]:
def factorial():
  if n==1:
    return 1
  else :
    return n * factorial(n-1)

Use the decorator to decorate the factorial function to only allow factorial of non-negative integers.

example:

    factorial(1.354) : raise Exception or print error message
    factorial(-1) : raise Exception or print error message
    factorial(5) : 60

In [22]:
for i in range(1, 10):
    print(i,factorial(i))

try:
    print(factorial(-1))
except Exception as e:
    e.print_exception()

try:
    print(factorial(1.354))
except Exception as e:
    e.print_exception()
try:
   print(factorial(5))
except Exception as e:
   e.print_exception()

TypeError: ignored

Create any multithreaded code using for loop for creating multithreads
for i in range(10):
    th = Thread(target=func_name, args=(i, ))

In [21]:
import time
import threading
from threading import Thread

In [23]:
def multithread(i):

IndentationError: ignored