<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

exercise 2

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see

In [3]:
break = 5 #it is a restricted word , we cant use it for assigning the variable

SyntaxError: ignored

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [4]:
birth_year= 2002
current_year = 2023

In [10]:
my_age = current_year - birth_year
print('This is my age = ', my_age)

This is my age =  21

3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [11]:
first_name = 'Abhigyan'
middle_name = 'Hb'
last_name = 'Tiwari'

In [15]:
print('My name '+ first_name+' ' + middle_name +' '+ last_name)

My name Abhigyan Hb Tiwari

4. Answer which of these are invalid variable names: "_nation, 1record, record1, record_one, record-one, record^one, continue"

In [17]:
1record, record-one, record^one, continue

SyntaxError: ignored

# Exercise 3

 1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it

In [21]:
length = 92
breadth = 48.4
area = length * breadth
print(area , "m^2")

4452.8 m^2

2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar  and you gave shopkeeper 20 dollar.   Find out using python, how many dollars is the shopkeeper going to give you back?

In [24]:
potato_chips_packet= 9
packet_cost_each =  1.49
money_i_give = 20

In [25]:
total_chips_cost = potato_chips_packet * packet_cost_each
total_chips_cost

13.41

In [26]:
money_given_back = money_i_give - total_chips_cost
money_given_back

6.59

3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet    is its length. If tiles cost 500 rs per square feet, how much will be the total    cost to replace all tiles. Calculate and print the cost using python    Hint: Use power operator (**) to find area of a square

In [28]:
length = 5.5
square_length = length**2
square_length

30.25

In [29]:
cost_per_ft = 500
total_cost = square_length*cost_per_ft

In [30]:
total_cost

15125.0

4. Print binary representation of number 17

In [32]:
a = 17
print('decimal to binary:',format(a,'b'))

decimal to binary: 10001

# exercise 4

1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [41]:
street = 'Panchsheel Enclave'
city =  'Ghaziabad'
country = 'India'

In [42]:
Address = street+' ' + city + ' ' + country
Address

'Panchsheel Enclave Ghaziabad India'

2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index

In [44]:
a= 'Earth revolves around the sun'
a[6:14]

'revolves'

In [45]:
a[-3:]

'sun'

3. Create two variables to store how many fruits and vegetables you eat in a day.Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [3]:
fruits = int(input("Enter a number"))
vegetables =  int(input("Enter a number"))

Enter a number12
Enter a number23

In [5]:
print(f"I eat {vegetables} veggies and {fruits} daily")

I eat 23 veggies and 12 daily

 4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [6]:
s = 'maine 200 banana khaye'

In [7]:
s='maine 10 samosa khaye'

In [8]:
s

'maine 10 samosa khaye'

# exercise 5

1. Let us say your expense for every month are listed below,
 	1. January -  2200
  	2. February - 2350
     3. March - 2600
   4. April - 2130
     5. May - 2190

 Create a list to store these monthly expenses and using that find out

In [10]:
expense = [2200,2350,2130,2190]

 1. In Feb, how many dollars you spent extra compare to January?
 2. Find out your total expense in first quarter (first three months) of the year.
 3. Find out if you spent exactly 2000 dollars in any month
 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
 5. You returned an item that you bought in a month of April and
 got a refund of 200$. Make a correction to your monthly expense list
 based on this

In [11]:
#1
print('dollar spent in feb',expense[1]-expense[0])

dollar spent in feb 150

In [12]:
#2
print(' total expense in first quarter',expense[0]+expense[1] + expense[2])

 total expense in first quarter 6680

In [13]:
#3
print('if you spent exactly 2000 dollars in any month:',2000 in expense)

if you spent exactly 2000 dollars in any month: False

In [15]:
expense.append(1980)#4
print(expense)

[2200, 2350, 2130, 2190, 1980, 1980]

In [16]:
#5
expense.replace(2190,200)

AttributeError: ignored

2. You have a list of your favourite marvel super heros
 heros=['spider man','thor','hulk','iron man','captain america']
 Using this list

In [17]:
heros=['spider man','thor','hulk','iron man','captain america']

In [18]:
# Length of the list
len(heros)

5

In [21]:
# Add 'black panther' at the end of this list
heros.append('black panther')
heros

['spider man',
 'thor',
 'hulk',
 'iron man',
 'captain america',
 'black panther',
 'black panther']

In [23]:
# You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [26]:
heros.insert(3,'black panther')#concatenate doesnt use in list

In [27]:
heros

['spider man',
 'thor',
 'hulk',
 'black panther',
 'black panther',
 'iron man',
 'captain america']

In [31]:
# Now you don't like thor and hulk because they get angry easily :)    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
heros[1:3] = ['Doctor strange']
heros

['spider man',
 'Doctor strange',
 'black panther',
 'black panther',
 'iron man',
 'captain america']