<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# exercise 8

1.Using following list of cities per country,
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [ ]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

In [ ]:
city = input('enter your city name')

enter your city namedelhi

In [ ]:
if city in india:
  print(f"{city} in india")
elif city in pakistan:
  print(f"{city} in pakistan")
else:
  print(f"{city} in bangladesh")

delhi in india

In [ ]:
city1 = input("Enter city 1: ")
city2 = input("Enter city 2: ")

Enter city 1: delhi
Enter city 2: bangalore

In [ ]:
if city1 in india and city2 in india:
  print("Both cities are in India")
elif city1 in pakistan and city2 in pakistan:
  print("Both cities are in pakistan")
elif city1 in bangladesh and city2 in bangladesh:
  print("Both cities are in bangladesh")
else :
  print("They don't belong to same country")

They don't belong to same country

Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
Ask user to enter his fasting sugar level
If it is below 80 to 100 range then print that sugar is low
If it is above 100 then print that it is high otherwise print that it is normal

In [ ]:
sugar_level = int(input("Enter your sugar level"))

Enter your sugar level66

In [17]:
if sugar_level<80:
  print("sugar level is low")
elif sugar_level>100:
  print("sugar level is high")
else :
  print(" sugar level is normal")

sugar level is low

# exercise 9

After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
Using for loop figure out how many times you got heads

In [18]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

In [ ]:
for i in result:

In [23]:
# 2. Print square of all numbers between 1 to 10 except even numbers
for i in range(1,11):
  if i % 2 != 0:
  print(i,"these are odd numbers")

IndentationError: ignored

3. Your monthly expense list (from Jan to May) looks like this,
 ```
 expense_list = [2340, 2500, 2100, 3100, 2980]
 ```

Write a program that asks you to enter an expense amount and program
 should tell you in which month that expense occurred. If expense is not
 found then it should print that as well.

In [24]:
expense_list = [2340, 2500, 2100, 3100, 2980]

In [29]:
a =int(input("enter your expense amount: "))

enter your expense amount: 2500

In [30]:
if a in expense_list == 2340:
  print("jan expense is 2340")
elif a in expense_list == 2500:
  print("feb expense in 2500")
elif a in expense_list == 2100:
  print("march expense is 2100")
elif a in expense_list == 3100:
  print("april expense is 3100")
elif a in expense_list == 2980:
  print("may expense is 2980")
else:
  print(" expense is not found")

 expense is not found

 Write a program that prints following shape
 ```
 *
 **
 ***
 ****
 *****
 ```

In [32]:
a = '*'

In [46]:
print(a,"\n",a,"\n",a)

*
 *
 *

# exercise 10

1. Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
 ```
 area = (1/2)*base*height
 ```

In [48]:

base = int(input("Enter a value for base"))
height = int(input("enter a value for height"))
calculate_area = (1/2)*base*height

Enter a value for base25
enter a value for height56

In [49]:
calculate_area

700.0

 2. Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,
 ```
 rectangle area=length*width
 ```
 If no shape is supplied then it should take triangle as a default shape

 Calculate area of triangle whose base is 10 and height is 5

In [52]:
width = int(input("enter width"))
length = int(input("enter a length"))

enter width45
enter a length85

In [54]:
rectangle_area=length*width

In [55]:
rectangle_area

3825

In [56]:
shape=['triangle','rectangle']

In [57]:
if shape == traingle:
  print(calculate_area)
elif shape == rectangle:
  print(rectangle_area)

NameError: ignored

# exercise 11

We have following information on countries and their population (population is in crores),

Country	Population
China	143
India	136
USA	32
Pakistan	21
Using above create a dictionary of countries and its population

a)Write a program that asks user for three type of inputs,
print: if user enter print then it should print all countries with their population in this format,
china==>143
india==>136
usa==>32
pakistan==>21

b)add: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in our dictionary and print it

c)remove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!

d)query: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.

In [1]:
dict = {'china':143,
        'india':136,
        'usa':32,
        'pakistan':21}

In [ ]:
def add

# exercise 13

Create a sample class named Employee with two attributes id and name
employee :
    id
    name
object initializes id and name dynamically for every Employee object created.

emp = Employee(1, "coder")

In [9]:
class employee:
  def __init__(self,id,name):
      id= input("Enter your id")
      name = input("Enter your name")


  def display(self):
      print(f"ID: {self.id} \nName: {self.name}")


emp = employee(id, 'name')
print(emp)

Enter your id1
Enter your namecoder
<__main__.employee object at 0x7c33c0145990>

In [7]:
print(emp)

<__main__.employee object at 0x7c33c0146f80>

create inheritance using animal Dog relation.
for example,
    Animal and Dog both has same habitat so create a method for habitat

In [10]:
class animal:
  def __init__(self,habitat):
    self.habitat = habitat
  def print_habitat(self):
    print(self.habitat)

  def sound(self):
    print("same animal")

use super() constructor for calling parent constructor.
class Animal:
    #code

class Dog(Animal):
    super()-it refers Animal class,now you can call Animal's methods.

In [15]:
class dog(Animal):
     def __init__(self):
        super().__init__("Kennel")

     def sound(self):
        print("Woof woof!")


x = dog()
x.print_habitat()
x.sound()

TypeError: ignored

Create multiple inheritance on teacher,student and youtuber.
Q. if we have created teacher and now one student joins master degree with becoming teacher then what??

Ans :  just make subclass from  teacher so that student will become teacher

In [17]:
class teacher:
  def teachers(self):
    print("I am teacher")
class student:
  def students(self):
    print("I am student")

class Youtuber:
  def youtubers(self):
    print("I am utuber")
class Person(teacher,student,Youtuber):
  pass

coder = Person()
coder.teachers()
coder.students()
coder.youtubers()

I am teacher
I am student
I am utuber

Create a custom exception AdultException.

Create a class Person with attributes name and age in it.

Create a function get_minor_age() in the class. It throws an exception if the person is adult otherwise returns age.

Create a function display_person() which prints the age and name of a person.

let us say,

if age>18
    he is major
else
    raise exception

create cusomException named ismajor and raise it if age<18.

In [18]:
class AdultException:
  pass
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def get_minor_age(self):
    if int(self.age)>=18:
      print("major")
    else :
      print(" exception")
  def display_person(self,age,name):
    self.age=age
    self.name=name
    print(age,name)

Create an iterator for fibonacci series in such a way that each next returns the next element from fibonacci series.

In [20]:
class Fibonacci:
    def __init__(self, limit):
        self.previous = 0
        self.current = 1
        self.n = 1
        self.limit = limit

    def __iter__(self):
        return self
    def __next__(self):
        if self.n < self.limit:
            result = self.previous + self.current
            self.previous = self.current
            self.current = result
            self.n += 1
            return result
        else:
            raise StopIteration